



    <div class="wrapper" id="wrapperid">
        <div class="div1" >
            

            <label for="first_name" class="label1">First Name:</label>
            <div><input type="text" name="first_name"  placeholder="your name" class="inputusername"></div>

            

            <label for="last_name" class="label1">Last rname:</label>
            <div><input type="text" name="last_name" placeholder="your surname" class="inputusername" required></div>

            <label for="age" class="label1">Age:</label>
            <div><input type="number" name="age" placeholder="your age" class="inputusername" required></div>

            <label for="password" class="label1">Password:</label>
            <div><input type="password" name="password" class="passwordinput" placeholder="********"  ></div>

            <div class="buttondiv">
                <button type="submit" class="button-21" role="button">Registration</button>
                <a href="authorization" class="autorization_a"><div class="button-64"  >Autorization</div></a>
            </div>
          
        </div>
    

