<form method="post"  class="autoriz_formwrapper">

    <div class="wrapper" id="wrapperid">
        <div class="div1" >
            <label for="username" class="label1">Username:</label>
            <input type="text" name="username" required class="inputusername"><br>
            
            <label for="password" class="label2" >Password:</label>
            <input type="password" name="password" required class="passwordinput"  ><br>
            <div class="buttondiv">
                <button type="submit" class="button-21" role="button">Login</button>
                <a href="registration" class="autorization_a"><div class="button-64" ><span class="text">Registration</span></div></a>
            </div>
        </div>
    </div>
</form>